<h5>Dashboard</h5>

<ul class="collection">
  <%= if @conn.assigns.user do %>
  <li class="collection-item">
    <%= link "Products", to: Routes.product_path(@conn, :index) %>
  </li>    
  <% else %>
  <li class="collection-item">
    Sign in to unlock...
  </li>
  <% end %>
</ul>