<main class="container">
  <%= if get_flash(@conn, :info) do %>
    <script>
      M.toast({html: '<%= get_flash(@conn, :info) %>'});
    </script>
  <% end %>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
